html {
    touch-action: none;
    user-select: none;
    background: #222222;
}

ion-icon {
    --ionicon-stroke-width: 32px;
}

img {
    display: inline-box;
}

input[type=number] {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    width: 30%;
    border-style: none;
    color: #eee;
}

input[type=number]:focus {
    outline: none;
}

input[type=text] {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    width: 70%;
    border-style: none;
    color: #eee;
}

input[type=text]:focus {
    outline: none;
}

input[type=range] {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.activebutton {
    color: "danger"
}

.tooltip {
    display: none;
}

.toolbox:hover~.tooltip {
    display: block;
}

.tools {
    width: 50px;
    height: 50px;
}

.settingsEntry {
    background: #333;
    border-radius: 10px;
    text-align: center;
    color: #555;
    margin-left: 10px;
    margin-right: 30px;
}

.entryBox {
    font-size: 14px;
    background: #333;
    text-align: center;
    color: #aaa;
}

.settingHeader {
    padding-top: 10px;
    width: 60px;
    height: 70px;
}

#leftblock {
    height: 100%;
    width: 205px;
    position: fixed;
    left: 0;
    margin: 0px;
    padding: 10px;
}

#DIVsvg {
    background-color: white;
}

#redSlider[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    box-shadow: 0px 0px 0px #000000;
    background: #f44;
    border-radius: 1px;
    border: 0px solid #000000;
    height: 3px;
    padding-left: -2px;
    padding-right: -2px;
}

#redSlider[type=range]::-webkit-slider-thumb {
    margin-top: -6px;
}

#greenSlider[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    box-shadow: 0px 0px 0px #000000;
    background: #4f4;
    border-radius: 1px;
    border: 0px solid #000000;
    height: 3px;
    padding-left: -2px;
    padding-right: -2px;
}

#greenSlider[type=range]::-webkit-slider-thumb {
    margin-top: -6px;
}

#blueSlider[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    box-shadow: 0px 0px 0px #000000;
    background: #44f;
    border-radius: 1px;
    border: 0px solid #000000;
    height: 3px;
    padding-left: -2px;
    padding-right: -2px;
}

#blueSlider[type=range]::-webkit-slider-thumb {
    margin-top: -6px;
}

#thicknessSlider[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    box-shadow: 0px 0px 0px #000000;
    background: #666;
    border-radius: 1px;
    border: 0px solid #000000;
    height: 3px;
    padding-left: -2px;
    padding-right: -2px;
}

#thicknessSlider[type=range]::-webkit-slider-thumb {
    margin-top: -6px;
}